<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/_fragments::head(~{::title})}">

    <title>博客管理</title>

</head>
    <!--导航-->
    <nav th:replace="~{admin/_fragments::menu(1)}"/>


     <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a th:href="@{/admin/blogs/input}" class="item">发布</a>
                <a th:href="@{/admin/blogs}" class="purple active item">列表</a>
            </div>
        </div>
    </div>

    <!--中间内容-->

    <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!--查询表单需要是form提交数据-->
        <form th:action="@{/admin/blogs/search}" method="post" class="ui segment form">

            <!--fields代表一个区域,inline缩短区域的效果-->
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <!--dropdown是下拉框效果-->
                    <div class="ui selection dropdown">
                        <input type="hidden" name="typeId">
                        <i class="dropdown icon"></i>
                        <div class="default text">分类</div>
                        <!--menu是菜单-->
                        <div class="menu">
                            <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button class="ui mini purple basic button" id="search-btn" type="submit"><i class="search icon"></i>搜索</button>
                </div>
            </div>

        </form>

        <div id="table-container">
            <table th:fragment="blogList" class="ui celled table">
                <thead>
                <tr>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>发布状态</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog:${pageInfo.list}">
                    <td th:text="${blog.getTitle()}">刻意练习清单</td>
                    <td disabled th:text="${blog?.type?.name}"> 认知升级</td>
                    <td th:text="${blog.isRecommend()?'是':'否'}">是</td>
                    <td th:text="${blog.isPublished()?'发布':'草稿'}">是</td>
                    <td th:text="${#dates.format(blog.getUpdateTime(),'yyyy-MM-dd')}">2017-10-02 09:45</td>
                    <td>
                        <a href="#" th:href="@{/admin/blogs/{id}/edit(id=${blog.id})}" class="ui mini purple basic button">编辑</a>
                        <a th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" onclick="return confirm('您确定要删除吗？')" class="ui mini red basic button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <!--th colspan是合并单元格-->
                    <th colspan="7">
                        <div class="ui menu pagination">
                            <div class="item"><a th:href="@{/admin/blogs}">首页</a></div>
                            <a th:href="@{/admin/blogs(page=${pageInfo.pageNum}-1,size=${pageInfo.pageSize})}" class=" item" >上一页</a>
                            <a th:href="@{/admin/blogs(page=${pageInfo.pageNum}+1,size=${pageInfo.pageSize})}" class=" item" >下一页</a>
                            <div class="item"><a th:href="@{/admin/blogs(page=${pageInfo.pages},size=${pageInfo.pageSize})}">尾页</a></div>
                        </div>
                        <div class="ui segment m-inline-block">
                            <p >当前第<span th:text="${pageInfo.pageNum}"></span>页，总<span th:text="${pageInfo.pages}"></span>页，共<span th:text="${pageInfo.total}"></span>条记录</p>
                        </div>
                        <a th:href="@{/admin/blogs/input}" class="ui mini right floated purple basic button">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>

            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p th:text="${message}">恭喜，操作成功！</p>
            </div>
        </div>


    </div>
</div>


    <!--底部footer-->
    <footer th:replace="~{admin/_fragments::footer}"></footer>


    <div th:replace="~{admin/_fragments::script}"></div>
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on : 'hover'
        });

        //消息提示关闭初始化
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });

        // function loaddata() {
        //     $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{
        //         title : $("[name='title']").val(),
        //         typeId : $("[name= 'typeId']").val(),
        //         recommend : $("[name= 'recommend]"). prop('checked'),
        //         page : $("[name= 'page']").val()
        //     });
        // }

    </script>

</head>
<body>

</body>
</html>